
@{
    ViewBag.Title = "Urunler4";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    var resultObj = ViewBag.ResultObj;
    var resultObj2 = ViewBag.ResultObj2;
    var resultObj3 = ViewBag.ResultObj3;
}


<div class="row">
    <div class="col-xl-8">
        <div class="card">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <form method="post" action="/Urun/Urunler4">
                            <span>StokSistemNo(OID) :</span>
                            <input type="text" placeholder="Stok Sistem No sini girin" name="stokoid2,stokkodu" />
                            <button class="btn btn-primary">ARA</button>
                        </form>
                    </div>
                    <div class="col">
                        <h3 class="mb-0">STOK FİYAT İZLEME EKRANI</h3>
                    </div>
                    <div class="col text-right">
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-flush">
                    <tr>
                        <th scope="col">STOK ADİ</th>
                        <th>MARKA ADİ</th>
                        <th>MARKA KODU</th>
                        <th>MARKASİSTEMNO</th>
                        <th>STOKKODU</th>
                        <th>STOKSİSTEMNO</th>
                    </tr>
                    <tr>
                        <td scope="row">@resultObj2.StokAdi</td>
                        <td>@resultObj2.MarkaAdi</td>
                        <td>@resultObj2.MarkaKodu</td>
                        <td>@resultObj2.MarkaSistemNo</td>
                        <td>@resultObj2.StokKodu</td>
                        <td>@resultObj2.StokSistemNo</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <div class="col-xl-4">
        <div class="card">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                    </div>
                    <div class="col">
                        <h3 class="mb-0">Stok Fiyat Bilgileri</h3>
                    </div>
                    <div class="col text-right">
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <td>Fiyat Tipi</td>
                            <td>fiyat</td>
                            <td>Regule Fiyatı</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (resultObj3.FiyatListesi != null)
                        {
                            foreach (var item in resultObj3.FiyatListesi)
                            {
                                <tr>
                                    <td>@item.FIYAT_TIPI</td>
                                    <td>@item.FIYAT (@item.PARA_BIRIMI)</td>
                                    <td>@item.REGULE_FIYAT</td>
                                </tr>

                            }
                        }
                    </tbody>
                 
                </table>
            </div>

        </div>
    </div>
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header border-0">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="mb-0">STOK LİSTESİ</h3>
                    </div>
                    <div class="col text-right">
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                            <td>BARKOD</td>
                            <td>MAĞAZA</td>
                            <td>Alt Stok 1 Kodu</td>
                            <td>Stok Kodu</td>
                            <td>Miktar</td>
                        </tr>
                    </thead>
                    <tbody>
                        @if (resultObj.StokList != null)
                        {
                            foreach (var item in resultObj.StokList)
                            {
                                <tr>
                                    <td>@item.BARKOD</td>
                                    <td>@item.ALT_YER_ACIKLAMA</td>
                                    <td>@item.ALTSTOK1_KODU</td>
                                    <td>@item.STOK_KODU</td>
                                    <td>@item.STOK_MIKTARI</td>
                                </tr>

                            }
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>




@*<h2>Stok Miktar ve Maliyet Getir</h2>
    <table class="table table-striped table-bordered">
        <tr>
            <th>STOK ADİ</th>
            <th>MARKA ADİ</th>
            <th>MARKA KODU</th>
            <th>MARKASİSTEMNO</th>
            <th>STOKKODU</th>
            <th>STOKSİSTEMNO</th>
        </tr>
        <tr>
            <td>@resultObj2.StokAdi</td>
            <td>@resultObj2.MarkaAdi</td>
            <td>@resultObj2.MarkaKodu</td>
            <td>@resultObj2.MarkaSistemNo</td>
            <td>@resultObj2.StokKodu</td>
            <td>@resultObj2.StokSistemNo</td>
        </tr>
    </table>*@

@*<h2>STOK FİYAT BİLGİSİ</h2>
    <table class="table table-striped    table-bordered">
        <thead>
            <tr>
                <td>Fiyat Tipi</td>
                <td>fiyat</td>
                <td>Regule Fiyatı</td>
            </tr>
        </thead>
        <tbody>
            @if (resultObj3.FiyatListesi != null)
            {
                foreach (var item in resultObj3.FiyatListesi)
                {
                    <tr>
                        <td>@item.FIYAT_TIPI</td>
                        <td>@item.FIYAT (@item.PARA_BIRIMI)</td>
                        <td>@item.REGULE_FIYAT</td>
                    </tr>

                }
            }
        </tbody>
    </table>*@
@*<h2>STOK LİSTESİ</h2>
    <table class="table table-striped    table-bordered">
        <thead>
            <tr>
                <td>BARKOD</td>
                <td>Alt Stok 1 Kodu</td>
                <td>Stok Kodu</td>
                <td>Miktar</td>
            </tr>
        </thead>
        <tbody>
            @if (resultObj.StokList != null)
            {
                foreach (var item in resultObj.StokList)
                {
                    <tr>
                        <td>@item.BARKOD</td>
                        <td>@item.ALTSTOK1_KODU</td>
                        <td>@item.STOK_KODU</td>
                        <td>@item.STOK_MIKTARI</td>
                    </tr>

                }
            }
        </tbody>
    </table>*@