@model List<KaptanAdidas.Models.Sepet>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>@Session["Ad"]</h2>
<h3>Sepetim</h3>

<form method="post" action="/Satis1/HepsiniSatınAl">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Ürün Belgesi</th>
                <th>Adet</th>
                <th>Fiyat</th>
                <th>Tarih</th>
                <th>Resim</th>
                <th>Sil</th>
                <th>Satın Al</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Urun.Ad</td>
                    <td>
                        <div>
                            @Html.ActionLink("-", "azalt", new { id = item.Id }, new { @class = "btn btn-info btn-sm azalt" })
                            @Html.TextBoxFor(x => item.Adet, new { @class = "txt", data_id = item.Id })
                            @Html.ActionLink("+", "arttir", new { id = item.Id }, new { @class = "btn btn-info btn-sm arttir" })
                        </div>
                    </td>

                    <td>@item.Urun.Fiyat</td>
                    <td>@Convert.ToDateTime(item.Tarih).ToString("dd/MM/yyyy")</td>
                    <td><img src="~/Content/Image/@item.Urun.Resim" width="90" height="90" /></td>

                    @if (User.IsInRole("U"))
                    {
                        <td>@Html.ActionLink("Sil", "Sil", new { id = item.Id }, new { @class = "btn btn-primary", onclick = "return confirm('Silmek İstiyormusunuz ?')" })</td>
                        <td><a href="/Satis1/SatinAl/@item.Id" class="btn btn-danger">Satın Al</a></td>
                    }

                </tr>

            }
        </tbody>
    </table>
    <div class="container">
        @ViewBag.Tutar
    </div>
    <br />

    <div class="form-group">
        <a href="/Satis1/HepsiniSatınAl" class="btn btn-success form-control">Tümünü Satın Al</a>
    </div>
    <div class="form-group">
        <a href="/Sepet/HepsiniSil" class="btn btn-danger form-control">Tümünü Sil</a>
    </div>
</form>

<style>
    .txt {
        line-height: 18px;
        width: 50px !important;
        height: 32px;
        font-size: 14px;
        text-align: center;
        border: solid 1 px #ccc;
        margin-left: 23px;
    }

    .attir {
        display: block;
        cursor: pointer;
        border: solid 1 px #ccc;
        position: absolute;
        margin-top: -32px;
        margin-left: 75px;
    }

    .azalt {
        display: block;
        cursor: pointer;
        border: solid 1px #ccc;
        position: absolute;
        margin-right: 95px;
    }
</style>
<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script>
    $(function () {
        $('.txt').on('change', function () {
            var miktar = $(this).val();
            var sepetid = $(this).attr('data-id');
            $.ajax({
                url: '/Sepet/AdetYaz',
                data: { id: sepetid, miktari: miktar },
                success: fubction(res){}
                    document.location.reload();
        }
            });
    });
    })
</script>