<!DOCTYPE html>
<html lang="en">
<head>
    <title>KAPTANSPOR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="assets/img/brand/favicon.png" type="image/png">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
    <!-- Icons -->
    <link rel="stylesheet" href="~/Content/assets/vendor/nucleo/css/nucleo.css" type="text/css">
    <link rel="stylesheet" href="@Html.Raw("/Content/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css")" type="text/css">
    <!-- Page plugins -->
    <!-- Argon CSS -->
    <link rel="stylesheet" href="~/Content/assets/css/argon.css?v=1.2.0" type="text/css">
    @RenderSection("Head", false)
</head>
<body>
    <nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
        <div class="scrollbar-inner">
            <!-- Brand -->
            <div class="sidenav-header  align-items-center">
                <a class="navbar-brand" href="/">
                    <img src="~/Content/Image/logo.png" class="navbar-brand-img" alt="...">
                </a>
            </div>
            <div class="navbar-inner">
                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                    <!-- Nav items -->
                    <ul class="navbar-nav">
                        @if (User.IsInRole("A"))
                        {
                            <li class="nav-item"><a class="nav-link active" href=""><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">Dashboard</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Urun/Ekle"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">Stok Ekle</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Urun/Index"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">Ürünler</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Account/Register"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">Kullanici  İslemleri</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Account/UserListNotAccepted"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">Kullanici  Onayla</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Urun/Ekle"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">Siparisİslemleri</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/TumSatislar1/Index"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">TümSatislar</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Kategori/Index"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">Kategoriler</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Urun/KritikStok"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">KritikStok @Html.Action("StokCount", "Urun")</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Urun/StokGrafik"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">StokGrafik</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Urun/Urunler"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">HTT Ürün Bazlı Sorgulama</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Urun/Urunler5"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">HTT Stok Yeri Sorgulama</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Urun/Urunler2"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">HTT Tarih Bazlı Siparişe Açık Stoklar</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Urun/Urunler6"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">Barkodla Ürün Sorgulama</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/istatistik1/Index"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">İstatistikler</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Musteri/DegisenMusteriGetir"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">Müsteri Sorgulama Ekranı</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Musteri/MusteriEkle"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">Müşteri Ekleme Ekranı</span></a></li>
                        }
                        <li class="nav-item"><a class="nav-link" href="/Urun/Urunler7"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">HTT Son Bir Günlük Sipariş Listesi</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="/Kategori/Index"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">UrunFiyatİzleme</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">BirimlerArasıGirisCıkıs</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">StokFiyatİzleme</span></a></li>
                        <li class="nav-item"></li>
                        @if (User.IsInRole("U"))
                        {

                            <li class="nav-item"><a class="nav-link" href="/Satıs/Index"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">PersonelSatısMiktarı</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="#"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">StokYeriSorma</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Urun/Index"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">Ürünler</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Sepet/Index"><img src="~/Content/Image/resim9.jpg" width="30" height="30" /><label>@{Html.RenderAction("SepetCount", "Sepet");}</label></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Musteri/DegisenMusteriGetir"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">Müsteri Sorgulama Ekranı</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Musteri/MusteriEkle"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">Müşteri Ekleme Ekranı</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Urun/Urunler6"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">Barkodla Ürün Sorgulama</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Urun/Urunler"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">HTT Ürün Bazlı Sorgulama</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Urun/Urunler5"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">HTT Stok Yeri Sorgulama</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="/Urun/Urunler2"><i class="ni ni-tv-2 text-primary"></i><span class="nav-link-text">HTT Tarih Bazlı Siparişe Açık Stoklar</span></a></li>

                        }

                        @*<li><a href="/Account/LogOut">Çıkıs Yap</a></li>*@

                    </ul>
                    <!-- Divider -->
                    <hr class="my-3">
                </div>
            </div>
        </div>
    </nav>
    <div class="main-content" id="panel">
        <!-- Topnav -->
        <nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Search form -->
                    <!-- Navbar links -->
                    <ul class="navbar-nav align-items-center  ml-md-auto ">
                        <li class="nav-item d-xl-none">
                            <!-- Sidenav toggler -->
                            <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main">
                                <div class="sidenav-toggler-inner">
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                    <i class="sidenav-toggler-line"></i>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item d-sm-none">
                            <a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
                                <i class="ni ni-zoom-split-in"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
                        <li class="nav-item dropdown">
                            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="media align-items-center">
                                    <span class="avatar avatar-sm rounded-circle">
                                        <img alt="" src="~/Content/Image/userprofile.jpg">
                                    </span>
                                    <div class="media-body  ml-2  d-none d-lg-block">
                                        <span class="mb-0 text-sm  font-weight-bold">@Session["Ad"] @Session["Soyad"]</span>
                                    </div>
                                </div>
                            </a>
                            <div class="dropdown-menu  dropdown-menu-right ">
                                <div class="dropdown-header noti-title">
                                    <h6 class="text-overflow m-0">Hoşgeldiniz!</h6>
                                </div>
                                <a href="/Account/Guncelle" class="dropdown-item">
                                    <i class="ni ni-single-02"></i>
                                    <span>Profil Güncelle</span>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a href="/Account/LogOut" class="dropdown-item">
                                    <i class="ni ni-user-run"></i>
                                    <span>Çıkış Yap</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header -->
        <div class="header bg-primary pb-6">
            <div class="container-fluid">
                <div class="header-body">
                </div>
            </div>
        </div>
        <!-- Header -->
        <div class="container-fluid mt--6">
            <!-- Page content -->

            @RenderBody()
            <footer class="footer pt-0">
                <div class="row align-items-center justify-content-lg-between">
                    <div class="col-lg-6">
                        <div class="copyright text-center  text-lg-left  text-muted">
                            &copy;  <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank"></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com" class="nav-link" target="_blank"></a>
                            </li>
                            <li class="nav-item">
                                <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank"></a>
                            </li>
                            <li class="nav-item">
                                <a href="http://blog.creative-tim.com" class="nav-link" target="_blank"></a>
                            </li>
                            <li class="nav-item">
                                <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </div>




    <div class="container">

    </div>
    <script src="~/Content/assets/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/js-cookie/js.cookie.js"></script>
    <script src="~/Content/assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/Content/assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
    <!-- Optional JS -->
    <script src="~/Content/assets/vendor/chart.js/dist/Chart.min.js"></script>
    <script src="~/Content/assets/vendor/chart.js/dist/Chart.extension.js"></script>
    <!-- Argon JS -->
    <script src="~/Content/assets/js/argon.js?v=1.2.0"></script>
    @RenderSection("Scripts", false)
</body>
</html>


