@using PagedList;
@using PagedList.Mvc;
@model PagedList<KaptanAdidas.Models.Satislar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Satış Listesi</h2>

<table class="table table-bordered">
    <tr>
            <th><h2>ID</h2></th>
            <th>ÜRÜN AD</th>
            <th>ADET</th>
            <th>FİYAT</th>
            <th>RESİM</th>
            <th>TARİH</th>
      </tr>
<tbody>
    @foreach(var item in Model)
    {
    <tr>
        <td>@item.Id</td>
        <td>@item.Urun.Ad</td>
        <td>@item.Adet</td>
        <td>@item.Fiyat</td>
        <td><img src="~/Content/Image/@item.Urun.Resim"  width="90" height="90"/></td>
        <td>@Convert.ToDateTime(item.Tarih).ToString("dd/MM/yyyy")</td>
    </tr>
    }
</tbody>
</table>
@Html.PagedListPager(Model, sayfa => Url.Action("Index", new { sayfa}),PagedListRenderOptions.Classic)
