
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div class="total-content">
        <div class="list-of-members">
            <div class="sales" style="background-color:#1abc9c">
                <div class="icon-text">
                 <h3>@ViewBag.satis</h3>
                 <p>Toplam Satıslar</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="new-users" style="background-color:#2ecc71">
                <div class="icon-text">
                    <h3>@ViewBag.urun</h3>
                    <p>Ürün Sayısı</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="orders" style="background-color:#3498db">
                <div class="icon-text">
                    <h3>@ViewBag.kategori</h3>
                    <p>Kategori Sayısı</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="visitors" style="background-color:#ff40a0">
               <div class="icon-text">
                <h3>@ViewBag.sepet</h3>
                <p>Sepet Sayisi</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <br />
        <div class="visitors" style="background-color:#ff6a00; margin-top:10px">
            <div class="icon-text">
                <h3>@ViewBag.kullanici</h3>
                <p>Kullanici Sayisi</p>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
    </div>
    <div class="clearfix"></div>
</body>
</html>

